<!DOCTYPE html>
<html>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Stock Monitor</title>
    <base href="~/" />

    <body>
        <h1>Stock Monitor App</h1>

        @RenderBody()

        <script src="~/dist/bundle.js"></script>
    </body>

</html>